<div class="row" style="margin: 0px;">
  <div class="col-lg-6 col-12 col-md-12 space">
    <div class="grid">
      <div class="col-12">
        <img src="./../assets/logo.svg">
      </div>
      <div class="col-12" style="padding-bottom: 0px;">
        <p class="welcome">Welcome Back</p>
      </div>
      <div class="col-12 align-self-center" style="padding-top: 0px;">
        <p style="display: inline-block;" class="typeSmall pr-2">Don't have an account yet?</p>
        <a class="typeLink">Create today!</a>
      </div>
      <div class="col-12" style="padding-bottom: 0px;">
        <label>Email</label>
      </div>
      <div class="col-12">
        <input type="text" pInputText placeholder="Email address" style="width: 100%;" [(ngModel)]="email" required>
      </div>
      <div class="col-12" style="padding-bottom: 0px;">
        <label>Password</label>
      </div>
      <div class="col-12">
        <input type="text" pInputText placeholder="Password" style="width: 100%;" [(ngModel)]="password" required>
      </div>
      <div class="row g-0 col-12" style="padding-left: 0px;">
        <div class="col-1 text-center" style="padding-left: 0px;">
          <p-checkbox value="New York" inputId="ny"></p-checkbox>
        </div>
        <div class="col-4 text-start">
          <p style="display: inline-block;" class="typeSmall pr-2">Remember me</p>
        </div>
        <div class="col text-end">
          <a class="typeLink">Forgot Password?</a>
        </div>
      </div>
      <p-button label="Sign in" class="btnSign" styleClass="p-button-raised p-button-help col-12" (click)="postDataToApi()">
        <i class="pi pi-user"></i>
      </p-button>
    </div>
  </div>
  <div class="col backgroundOne d-none d-lg-block"></div>
</div>
